*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing: border-box; */
}
body{
    background-color: #080808;
    color: #fff;
}
.header{
   
    width: 100%;
    height: 100vh;
    background-image: url(/image/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    /* background-color: #fff; */
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width: 100px;
    
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    background: rgb(237, 59, 24);
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #ff004f;
}
/* about */
.about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col1{
    flex-basis: 35%;
}
.col1 img{
    width: 100%;
    border-radius: 15px;
}
.col2{
    flex-basis: 60%;
}
.sub{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}
.tab{
    display: flex;
    margin: 20px 0 40px;
}
.tav-link{
    margin-right: 50px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.tav-link::after{
    content: '';
    background: rgb(237, 59, 24);
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tav-link.active::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/* services */
.services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
text-decoration: none;
color: #fff;
margin-top: 20px;
font-size: 12px;
display: inline-block;
}
.service-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* portfolio */
.portfolio{
    padding: 30px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}
.layer{
    width: 80%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    transition: 0.5s;
}
.layer h3{
    font-weight: 500;
    
    margin-bottom: 20px;
}
.layer a{
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ff004f;
    font-size: 20px;
    margin-top: 15px;
    line-height: 55px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background: #ff004f;
}